<!-- Simple footer, just goes right below everything else -->
<footer>
  <h2>Sandmuel</h2>
  <div style="display: flex; flex-direction: row">
    <div>
      <h3>posts</h3>
      <a href="/posts">test post</a>
    </div>
    <div>
      <h3>community</h3>
      <a href="">nothing here yet</a>
    </div>
  </div>
</footer>
