<!-- Include header fonts so the parent page doesn't need to -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Mynerve&display=swap"
    rel="stylesheet"
  />
</head>

<!-- Header is always visible -->
<header>
  <a
    href="/"
    style="text-decoration: none; display: flex; flex-direction: row"
  >
    <div class="icon" style="background-image: url('https://cdn.glitch.global/aac9de37-fa30-44c7-a0b3-5bbe7f1371db/favicon.svg?v=1722218653695')"></div>
    <p style="padding: 4px"></p>
    <h1 class="lxgw-wenkai-tc" style="color: #ff7441;">sandmuel</h1>
  </a>
  <div class="nav-bar">
    <a href="/games" class="nav-link">Games</a>
    <a href="/posts" class="nav-link">Posts</a>
    <a href="/community" class="nav-link">Community</a>
    <a href="/about" class="nav-link">About</a>
  </div>
  <div class="nav-menu">
    <svg style="width: 35px; height: 35px" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='none' stroke='#cccccc' stroke-width='8' stroke-linecap='round' stroke-linejoin='round'><line x1="15" y1="20" x2="85" y2="20" /> <line x1="15" y1="50" x2="85" y2="50" /> <line x1="15" y1="80" x2="85" y2="80" /></svg>
    <div class="nav-menu-content">
      foo
    </div>
  </div>
</header>

<!-- Empty header serves only to push other content down since the header defined above has a fixed position -->
<header style="visibility: hidden"></header>

<!-- Define styles here so we don't have to place them in the global stylesheet -->
<style>
  * {
    margin: 0;
    padding: 0;
    color: #ffffff;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  [hidden] {
    display: none !important;
  }

  header {
    position: absolute;
    z-index: 2;
    display: flex;
    padding: 12px;
    width: 100%;
    min-width: 300px; /* Squishing things further runs out of space */
    box-sizing: border-box; /* Include padding in the width */
    height: 60px;
    background-color: rgba(34, 34, 34, 0.8);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-bottom: solid #444444 1px;
    justify-content: space-between;
    align-items: center; /* Vertically center */
    user-select: none;
  }

  .lxgw-wenkai-tc {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .nav-link {
    outline: solid #666666 1px;
    border-radius: 4px;
    text-decoration: none;
    margin: 6px;
    padding: 6px;
    align-self: center;
      visibility: inherit;
  }

  .nav-bar {
    @media (max-width: 600px) {
      visibility: hidden;
      position: absolute; /* Avoid interfering with other elements */
    }
  }

  .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .icon {
    width: 45px;
    aspect-ratio: 1 / 1; /* Keep the width and height equal */
    background-size: contain; /* Ensure the image fits in this element */
  }

  /* Mobile Nav Menu */
  .nav-menu {
      @media (min-width: 601px) {
          visibility: hidden;
          position: absolute; /* Avoid interfering with other elements */
      }
  }

  .nav-menu:hover .nav-menu-content {
      display: block;
  }

  .nav-menu-content {
      z-index: 1;
      position: absolute;
      display: none;
      padding: 12px;
      top: 0;
      left: 0;
      background-color: rgba(34, 34, 34, 0.8);
      backdrop-filter: blur(8px);
      border-radius: 0 0 8px 8px;
      width: 95vw; /* Why this? idk */
      animation-name: slide-in;
      animation-fill-mode: forwards;
      animation-duration: 300ms;
  }

  @keyframes slide-in {
      from {height: 0;}
      to {height: 50vh}
  }
</style>