<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sandmuel | Home</title>
  <link
    rel="icon"
    href="https://cdn.glitch.global/aac9de37-fa30-44c7-a0b3-5bbe7f1371db/favicon.svg?v=1722218653695"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Mynerve&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/style.css" />
</head>
