/*****************/
/* GLOBAL THINGS */
/*****************/

:root {
  --color-bg: #333333;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
}

* {
  margin: 0;
  padding: 0;
  color: #ffffff;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

[hidden] {
  display: none !important;
}

/*********/
/* FONTS */
/*********/

.lxgw-wenkai-tc {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mynerve {
  font-family: "Mynerve", cursive;
  font-weight: 400;
  font-style: normal;
}

/***************/
/* OTHER STUFF */
/***************/

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  background-size: cover;
  overflow: clip;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #222222;
  padding: 8px;
  box-sizing: border-box; /* Include padding in the width */
}

/* children of the children of the footer should be spaced out a bit (these are the sections and links) */
footer > * > * {
  margin: 15px 30px;
}

img {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
}

table {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 8px;
  background-color: #333333;
  padding: 4px;
  margin: 4px;
  border-color: #444444;
}

td {
  border-radius: 2px;
  padding: 2px;
}

.inline {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10vw;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 105%;
  margin: 0;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}

.button {
  background-color: #88ff66;
  padding: 8px;
  margin: 4px;
  text-decoration: none;
  color: #334400;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: #aaff99;
  color: #334400;
  border-radius: 4px;
  scale: 1.1;
}

.subsection {
  background-color: rgba(34, 34, 34, 0.95);
  padding: 32px;
  margin: 16px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 552px);
  gap: 24px;
  grid-auto-rows: 167px;
  justify-content: center;
}

h1 {
  font-weight: bold;
}

h2 {
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}

p {
  font-size: 16px;
}
